<!-- base.html -->

{% load staticfiles %}
<html>
<head>
    <title>FranKlog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="page-header">
	{% if user.is_authenticated %}
		<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	{% endif %}
        <h1><a href="/">FranKlog</a></h1>
    </div>
	
    <!-- Header -->
    <div class="date">
	  	<a href="/admin/">Admin</a> .
	{% if user.is_authenticated %}
	   	<a href="/admin/logout/">Log out</a> .     
	{% endif %}
    </div>
    <!-- END Header -->	

	<div class="content container">
	    <div class="row">
			<div class="col-md-8">
			{% block content %}
			{% endblock %}
			</div>
	    </div>
	</div>
</body>
</html>
